<header>
  <nav class="navbar navbar-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/urls">tinyApp</a>
    <a href="/urls/new">
      <button type="submit" class="btn btn-primary">Create New URL</button>
    </a>
    <div class="float: right">
      <% if (!user) { %>
      <a href="/register">
        <button type="submit" class="btn btn-warning">Register</button>
      </a>
      <a href="/login">
        <button type="submit" class="btn btn-success">Login</button>
      </a>
      <% } else { %>
      <form class="form-inline" action="/logout" method="POST">
        <a class="navbar-brand">Logged in: <%= user.email %></a>
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
      <% } %>
    </div>
  </nav> 
</header>