<header>
  <nav class="navbar navbar-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <a href="/urls/New">
      <button type="submit" class="btn btn-primary">Create New URL</button>
    </a>
    <div class="float: right">
      <% if (!user) { %>
      <a href="/register">
        <button type="submit" class="btn btn-warning">Register</button>
      </a>
      <a href="/login">
        <button type="submit" class="btn btn-warning">Login</button>
      </a>
      <% } else { %>
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-warning">LogOut</button>
      </form>
      <% } %>
    </div>
  </nav>
  
</header>