<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>tinyApp - Registration</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-lg navbar-dark bg-info">
        <a class="navbar-brand" href="/urls">tinyApp</a>
      </nav>
    </header>
    <main style="margin: 2em">
      <h5 class="text-muted">New User Registration:</h5>
      <form class="form-horizontal" action="/register" method="POST">
        <div class="form-group">
          <input class="form-control-center" type="email" name="email" placeholder="example@gmail.com" style="width: 200px">
        </div>
        <div class="form-group">
          <input class="form-control-center" type="password" name="password" placeholder="enter password" style="width: 200px">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
    </body>
</html>
